.nav {

  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 30px;
  word-spacing: 10px;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background: #747373;
  color:whitesmoke;
}
#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  word-spacing: 20px;

}

* {
    box-sizing: border-box;
  }
  /* Add a gray background color with some padding */
  body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background: rgb(214, 212, 212);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  .left{
    float: left;
    width: 40%;
  }
  .center{
    float: left;
    width: 60%;
    font-family: serif;
    color:red;
  }
 
  
  /* Fake image */
  .fakeimg {
    background-color: #f78e8e;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: rgb(214, 212, 212);
     padding: 20px;
     margin-top: 20px;
     border-color: tomato;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  /* Footer */
  .footer {
    padding: 15px;
    text-align: center;
    background: rgb(252, 250, 241);
    margin-top: 15px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  #HEADING{
      background-image: url(comp2.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 99%;
  }
  #me{
    background-image: url(me.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;

  }
  #joy{
    background-image: url(joy2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;

  }
  #deco{
    background-image: url(deco3.jpg);
    background-repeat: no-repeat;
    background-size: 80%; 
    font-family: serif;
    color:white;
  }
  #experts{
    font-family: Arial;
    color: white;
    background-image: url(experts3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #experts2{
    background-image: url(comp3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #experts3{
    background-image: url(code2.jpg);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #coupon{
    border: 5px dotted rgb(252, 184, 184);
  border-radius: 20px;
  background-color:rgb(17, 17, 17);
  color: whitesmoke;
  }
  ul li{
    display: inline-block;
    color: aliceblue;
  }
  
  h1{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #pp{
    font-size: 20px;
  }
  #gallery2{
    margin: 10px;
    border: 2px solid rgb(133, 133, 133);
    float: right;
    width: 300px;
    height: 90%;
    align-self: center;
  }
  
  div.gallery {
    margin: 10px;
    border: 2px solid rgb(133, 133, 133);
    float: right;
    width: 300px;
    height: 80%;
  }
  
  div.gallery:hover {
    border: 1px solid rgb(90, 2, 2);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .container{
    float: left;
  }
  #header2{
    background-image: url(head3.jpg);
    width: 100%;
    background-size: cover;
    color: honeydew;
  }
  
  